@font-face {
    font-family: Pokemon_solid;
    src: url(imagenes/Pokemon\ Solid.ttf) format('truetype')
}
header {
    font-family: Pokemon_solid;
    font-size: 75px;
    text-align: center;
    color: yellow;
    text-shadow: 0.1em 0.1em blue;
    background-color: red;
}

.entrada {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    padding: 20px 105px 20px 5px;
    border-radius: 15px 15px 15px 15px;
}
::placeholder{
    text-align: left;
}
/*estas dos de aquí no hacen nada (abajo)*/
.tabla {
    width: 180px;
    display: flex;
    justify-content: space-between;
}

.stats {
    width: calc((stat / 255) * 100%);
}
/*estas dos de aquí no hacen nada (arriba)*/

.body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize !important;
    background-color: #ffffff;
}

.modo-oscuro {
    background-color: #212121;
    color: #ffffff;
    border: #ffffff;
}

#modo-claro-oscuro {
    margin: 10px;
    padding: 5px 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
}

#modo-claro-oscuro:hover {
    background-color: orange;
}

.grid {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    width: 100%;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize !important;
}
.modo-oscuro .grid {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    width: 100%;
    background-color: #212121;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize !important;
} 

/*PREGUNTAR COMO CONECTAR VISTA POKEMON CON VISTA GLOBAL*/
/* buscador que funcione */

.pokemonCard {
    width: 475px;
    background-color: white;
    font-size: 25px;
    color: #212121;
    border: 2px #212121 solid ;
    border-radius: 9%;
    margin-top: 5%;
    margin-left: 3%;
    padding-bottom: 10px;
}
.modo-oscuro .pokemonCard {
    width: 475px;
    background-color: #212121;
    font-size: 25px;
    border: 2px white solid;
    color: #FFFFFF;
    border-radius: 9%;
    margin-top: 5%;
    margin-left: 3%;
    padding-bottom: 10px;
}
.pokemonCardPlanta {
    color: #78C850;
}
.pokemonCardBicho {
    color: #A8B820;
}
.pokemonCardFuego {
    color: #F08030;
}
.pokemonCardAgua {
    color: #6890F0;
}
.pokemonCardHielo {
    color: #98D8D8;
}
.pokemonCardElectrico {
    color: #F8D030;
}
.pokemonCardTierra {
    color: #E0C068;
}
.pokemonCardRoca {
    color: #B8A038;
}
.pokemonCardLucha {
    color: #C03028;
}
.pokemonCardPsiquico {
    color: #F85888;
}
.pokemonCardVeneno {
    color: #A040A0;
}
.pokemonCardHada {
    color: #F0B6BC;
}
.pokemonCardNormal {
    color: #A8A878;
}
.pokemonCardDragon {
    color: #7038f8;
}
.pokemonCardFantasma {
    color: #705898;
}
.pokemonCardVolador {
    color: #A890F0;
}


